ALLOWED_HOSTS=".localhost, 127.0.0.1, [::1]"
OIDC_CONFIG_DICT="{\"version\": 1,\"oidc_providers\": {  \"provider1\": {    \"provider_name\": \"okta\",    \"client_id\": \"client-id\",    \"secret\": null,    \"server_url\": \"https://trial-2872264-admin.okta.com\"  }}}"
# Branding
# BRANDING_LOGO_URL="https://example.com/logo.png"
# BRANDING_SHOW_POWERED_BY=True

